# Virtual Environments
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc

# Large AI Models & Media
*.pt
*.onnx
*.bin
resources/voices/

# Logs & Databases
*.log
*.db
memory/logs/

# Secrets
.env

# Ignore temporary audio files
temp_tts_*.wav
*.wav